spring:
  h2:
    console:
      enabled: true
      settings.trace: false
      settings.web-allow-others: false
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: create-drop
  datasource:
    hikari:
      jdbc-url: jdbc:h2:tcp://localhost:9095/mem:testdb;DB_CLOSE_DELAY=-1
      username: sa
      password:

logging:
  level:
    org:
      hibernate.type.descriptor.sql.BasicBinder: TRACE